@tailwind base;
@tailwind components;
@tailwind utilities;

.debug1 {
  @apply border-2 border-red-600;
}

.debug2 {
  @apply border-2 border-blue-600;
}



.swiper-button-next, .swiper-button-prev {
  color: white !important;
}
.swiper-slide {

  z-index: 9999;
}


/* video-slider.css */
.video-slider {
  width: 100%;
  height: auto;
}

.video-slide {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-container {
  z-index: 0;
}

.react-player {
  z-index: 1;
}
